@import "../../../styles/variables";

.step-list-container {
  width: 70%;
  margin-right: 1rem;
  line-height: 1.4;
  @media screen and(max-width: $breakpoint-large) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media screen and(max-width: $breakpoint-medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .list-header {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 0;
    @media screen and (max-width: $breakpoint-small) {
      flex-direction: column-reverse;
    }
  }

  .icon-title {
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    @media screen and(max-width: $breakpoint-small) {
      width: 100%;
    }
  }

  .fa-clipboard-list-check {
    color: $green-500;
    font-size: 3.5rem;
    padding-right: 0.3em;
    @media screen and(max-width: $breakpoint-small) {
      display: none;
    }
  }
  .title {
    background: none;
    color: $green-500;
    font-size: 3.2rem;
    font-weight: 800;
    padding: 3rem 0;
    color: $green-500;
    @media screen and(max-width: $breakpoint-small) {
      padding-top: 0;
    }
  }

  .percentage {
    width: 25%;
    @media screen and(max-width: $breakpoint-large) {
      width: 12%;
    }
    @media screen and(min-width: $breakpoint-large) {
      max-width: 20%;
    }
    @media screen and(max-width: $breakpoint-medium) {
      width: 30%;
    }
    @media screen and(max-width: $breakpoint-small) {
      width: 30%;
      align-self: flex-start;
    }
  }

  .step-list {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0;
  }

  .each-step {
    display: flex;
    background: $white;
    padding: 1.5em;
    margin-bottom: 1em;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
    @media screen and(max-width: $breakpoint-small) {
      flex-direction: column-reverse;
    }
  }

  .check-box {
    border: 4px solid $green-300;
    border-radius: 4px;
    min-width: 24px;
    height: 24px;
    margin: 1rem 3rem 0 0;
    box-sizing: border-box;
    cursor: pointer;
    @media screen and(max-width: $breakpoint-medium) {
      min-width: 35px;
      height: 35px;
    }
    @media screen and(max-width: $breakpoint-small) {
      align-self: flex-end;
      margin-right: 0;
    }
  }

  .fa-check {
    // width: 100%;
    color: $white;
    font-size: 1.6rem;
    text-align: center;
    @media screen and(max-width: $breakpoint-medium) {
      font-size: 2.7rem;
    }
  }

  .complete {
    background: $green-300;
    display: flex;
    align-content: center;
    height: 100%;
  }

  .incomplete {
    display: none;
  }

  .return-requirements-container {
    .return-box {
      display: flex;
      align-items: baseline;
      padding: 1.6rem;
      font-size: 2rem;
      font-weight: 800;
      i {
        padding-right: 0.5em;
      }

      .return-text {
        font-family: $font-stack-heading;
        font-weight: 700;
      }
    }
  }
}
