@import "../../../styles/variables";

.requirement-card-container {
  // position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and(min-width: $breakpoint-small) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and(min-width: $breakpoint-medium) {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0 2rem;
  }
  @media screen and(min-width: $breakpoint-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .component-title {
    padding: 1em;
  }
}
