@import "variables";

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack-body;
  font-size: 1.6rem;
  color: $green-500;
  background: $green-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-heading;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
