$font-stack-heading: "Barlow Condensed", "Gill Sans", "Gill Sans MT", Calibri,
  "Trebuchet MS", sans-serif;
$font-stack-body: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-stack-meta: "Barlow Condensed", "Gill Sans", "Gill Sans MT", Calibri,
  "Trebuchet MS", sans-serif;

$black: #104753;
$white: #fffdfd;
$lightgrey: #e9edf0;
$shadow: #4d4d4d;
$secondary: #528b98;
$color-error: #990e0e;
$light-green: #c4e7d1;
$dark-green: #add890;
$card-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);

$breakpoint-tiny: 375px; // e.g. iPhone 6
$breakpoint-small: 414px; // e.g. iPhone 6 Plus
$breakpoint-medium: 768px; // e.g. iPad Portrait
$breakpoint-large: 1024px; // e.g. iPad Pro Portrait
