.login-container {
  width: 450px;
  height: auto;
  background: white;
  border-right: 2px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  font-family: "Roboto", sans-serif;
  .warning-container {
    width: 85%;
    margin: 1rem;
    height: auto;
  }
  .warned {
    background: pink;
    padding: 2rem;
    border-radius: 3px;
    margin: 1rem;
    color: #e12652;
    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
    h6:first-letter {
      text-transform: capitalize;
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    font-family: "Space Mono";
    text-align: left;
    label {
      color: #215c59;
      font-weight: 800;
      width: 85%;
      text-align: left;
    }
    input {
      font-family: "Lato", sans-serif;
      color: #215c59;
      font-size: 1rem;
      font-weight: 900;
      margin: 0.4rem;
      padding: 0.75rem;
      width: 100%;
      border-radius: 5px 5px 0 0;
      width: 85%;
      border: 0;
      border-bottom: 4px solid #215c59;
      text-align: center;
      &:focus {
        outline: none;
      }
    }
    button {
      font-family: "Space Mono", monospace;
      width: 50%;
      padding: 1rem;
      box-shadow: 1px 1px solid black;
      border: 0;
      background: linear-gradient(
        135deg,
        rgba(53, 196, 189, 1) 0%,
        rgba(50, 161, 156, 1) 100%
      );
      color: #ffffff;
      font-weight: 800;
      margin: 1.5rem;
      cursor: pointer;
    }
  }
  .error {
    border-bottom: 4px solid red;
  }
  h1 {
    font-family: "Space Mono", monospace;
    color: #215c59;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1.9rem;
    margin: 0.5rem;
  }

  .brand {
    width: 85%;
  }
  .error-container {
    font-family: "Roboto", sans-serif;
    min-height: 50px;
    width: 85%;
    font-size: 0.75rem;
    font-weight: 800;
  }

  .label {
    font-family: "Roboto", sans-serif;
  }

  .input-feedback {
    color: red;
    width: 100%;
    font-weight: 800;
  }
}
