.requirement-card {
  height: 100%;
  font-family: "Barlow";
  .title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    box-shadow: $card-shadow;
    height: calc(100% - 15px - 1rem);
    background: $white;
    color: $new-dark-green;
    // padding: 4rem 1rem;
    cursor: pointer;
    p {
      padding: 2rem 1rem;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 1.4rem;
      text-align: center;
    }
    &:hover {
      animation: hoverEffect 0.3s;
      animation-fill-mode: forwards;
    }
  }
  .title {
    padding: 2rem 1rem 0;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .icon-circle {
    font-size: 3rem;
    padding: 0.5rem 0.5rem 0.3rem;
    width: fit-content;
    background: white;
    margin-top: 1rem;
    border-radius: 50%;
    i {
      line-height: 1.1;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .white-text {
    color: white;
  }
  .incomplete {
    margin-top: 1rem;
    background: $white;
  }
  .complete {
    margin-top: 0;
    background: $gradient;
    padding-bottom: 1rem;
  }
}

@keyframes hoverEffect {
  0% {
    box-shadow: $card-shadow;
  }
  100% {
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.3);
  }
}
