.requirement-card {
  // padding: 1em;
  width: 100%;
  font-family: "Barlow";
  .title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $card-shadow;
    height: 100%;
    width: 100%;
    background: $white;
  }
  .title {
    font-size: 3rem;
    text-align: center;
    padding: 4rem 0;
    margin: 0 3rem;
    font-weight: bold;
    i {
      padding-right: 1rem;
    }
  }
  .white-text {
    color: white;
  }
  .incomplete {
    margin-top: 1rem;
    background: $white;
  }
  .complete {
    margin-top: 0;
    background: $dark-green;
    padding-bottom: 1rem;
  }
}
