.temp-container {
<<<<<<< HEAD
  background: #ab9c9c;
=======
  background: rgb(90, 142, 190);
>>>>>>> 688f4baf408bf4867ffd8bc7484ad21fd5e33c69
  padding: 1rem;
  width: 100%;
  .resource-card-container {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 10px;
    border-top: 8px solid #104753;
    background: #e9ebec;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
<<<<<<< HEAD
    .resource-cards {
=======
    resource-cards {
>>>>>>> 688f4baf408bf4867ffd8bc7484ad21fd5e33c69
      width: 100%;
    }
    .resource-header {
      font-family: "Barlow Condensed", sans-serif;
      background: #fbfeff;
      padding: 15px;
      h1 {
        font-size: 3.2rem;
        font-weight: 800;
      }
    }
  }
}
