@import "./variables";
.temp-container {
  padding: 1rem;
  @media screen and(max-width: $breakpoint-large) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media screen and(max-width: $breakpoint-medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .resource-card-container {
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 8px solid $new-dark-green;
    background: #e9ebec;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
    @media screen and(max-width: $breakpoint-medium) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
    .resource-cards {
      width: 100%;
    }
    .resource-header {
      font-family: "Barlow Condensed", sans-serif;
      color: $new-dark-green;
      background: $white;
      padding: 2rem 1.5rem 2rem 3.5rem;
      h1 {
        font-size: 3.2rem;
        font-weight: 800;
      }
    }
  }
}
