@import "./variables";

.temp-container {
  // padding: 1rem;
  @media screen and(max-width: $breakpoint-large) {
    flex-direction: column;
    align-items: center;
    // width: 100%;
  }
  @media screen and(min-width: $breakpoint-medium) {
    padding-right: 0;
  }
  @media screen and(max-width: $breakpoint-medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .resource-card-container {
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 8px solid $green-500;
    background: $white;
    box-shadow: $drop-shadow-lg;
    @media screen and(max-width: $breakpoint-medium) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // width: 90%;
    }
    .resource-cards {
      width: 100%;
    }
    .resource-header {
      font-family: $font-stack-heading;
      color: $green-500;
      background: $white;
      padding: 2rem 1.5rem 2rem 3.5rem;
      h1 {
        font-size: 3.2rem;
        font-weight: 800;
      }
    }
  }
}
