.form-con-wrapper {
  background: white;
  width: 450px;
  height: auto;
  margin: 0 auto;

  .signUp-form-container {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }

  .title {
    margin-left: 0.5em;
    font-size: 1.5rem;
    font-family: "Space Mono";
    color: $form-label;
  }

  .sub-title {
    font-size: 0.85rem;
    font-family: "Lato";
  }

  .form-input-wrap {
    margin: 3em 0em;
    border-bottom: 2px solid $lightgrey;
  }

  #selector {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align-last: center;
    height: 3em;
  }

  .form-input {
    font-family: "Lato", sans-serif;
    text-align: center;
    height: 3em;
    width: 100%;
    border: none;
  }

  .form-label {
    font-family: "Space Mono", sans-serif;
    color: $form-label;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3em 0;
  }
  .submit-btn {
    font-family: "Roboto", sans-serif;
    width: 70%;
    padding: 0.85em;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 0.1em #003326;
    color: $light-font;
    font-size: 1.3rem;
    cursor: pointer;
    background-image: linear-gradient(
      45deg,
      #00cc99,
      #00b386,
      #009973,
      #008060,
      #00664d,
      #004d39
    );
  }

  .server-error {
    margin: 1em auto;
    font-family: "Roboto", sans-serif;
    width: 80%;
    border: 1px solid white;
    flex-direction: column;
    padding: 1em;
    background: red;
  }

  .active {
    display: flex;
  }

  .inactive {
    display: none;
  }

  .form-error {
    font-size: 1rem;
    color: $invalid;
  }
}
