@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.form-con-wrapper {
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border: 2px solid $invalid;
}
.signUp-form-container {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.title {
    margin-left: 1em;
}

.sub-title {
    font-size: .85rem;
}

.form-input-wrap {
    margin: 2em 0em;
    border-bottom: 2px solid $lightgrey;
}

#selector {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align-last: center;
}

.form-input {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
}

.form-label {
    font-family: "Roboto", sans-serif;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    // border: 1px solid blue;
    margin: 3em 0;
}
.submit-btn{
    font-family: "Roboto", sans-serif;
    width: 70%;
    padding: .85em;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 .1em #003326;
    color: $light-font;
    font-size: 1.3rem;
    background-image: linear-gradient(
        45deg,
        #00cc99,
        #00b386,
        #009973,
        #008060,
        #00664d,
        #004d39
    );
}

.server-error {
    margin: 1em auto;
    font-family: "Roboto", sans-serif;
    width: 80%;
    border: 1px solid white;
    flex-direction: column;
    padding: 1em;
    background: red;
}


.active {
    display: flex;
}

.inactive {
    display: none;
}


.form-error {
    font-size: 1rem;
    color: $invalid;
}
