@import "./variables";

.step-list-container {
  border: 1px solid grey;
  font-family: "Barlow";

  .title {
    font-size: 1.5rem;
    padding: 1em;
  }

  .step-list {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 1em;
  }

  .each-step {
    display: flex;
    margin-bottom: 1em;
  }

  .check-box {
    border: 4px solid grey;
    border-radius: 4px;
    min-width: 38px;
    height: 38px;
    margin-right: 1em;
    background: $light-green;
    cursor: pointer;
  }

  // #checkmark path {

  // }

  .complete {
    display: flex;
    justify-content: center;
  }

  .incomplete {
    display: none;
  }
}
