@import './variables';

.userInfo-container {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background: $white;
    padding: 2em;
    box-shadow: .2em .2em .5em $shadow;

    @media screen and (min-width: $breakpoint-small) {
      max-width: 75%;
    }
  
  .dateAndGreet {
    font-family: "Barlow Condensed";

    border: 1px solid blue;
  }

  .date {
    font-size: 1rem;
    margin-bottom: 1em;

    border: 1px solid pink;

  }

  .welcome-msg {
    font-size: 1.5rem;
    font-weight: bold;

    border: 1px solid green;
  }

  .first-name {
    text-transform: capitalize;
    color: $secondary;
    font-size: 2rem;
  }

  .progress-meter {
    border: 1px solid red;
  }

  .percentage {
    width: 25%;
  }

  .progress-label {
    width: 100%;
  }
}
