@import "../../../styles/variables";

.dashboard .content {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 1.6rem;
  background: $blue-300;
  min-height: 100vh;
  @media screen and (min-width: 450px) {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }

  @media screen and (min-width: 768px) {
    grid-area: content;
  }
}
