@import "../../../styles/variables";

.dashboard-sidebar {
  display: none;
  flex-direction: column;
  grid-area: sidebar;
  height: 100vh;
  padding: 2.4rem 0;
  background: #081534;
  position: sticky;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 999;
  .burger {
    // height: 2.3em;
    top: 2rem;
    font-size: 1rem;
    position: absolute;
    right: 1.2rem;
  }
  .my-account-link {
    color: $green-500;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem;
  }

  @media screen and (min-width: 768px) {
    // display: flex;
  }
}

.dashboard-sidebar .logo {
  width: 53%;
  margin: 0 auto 4.4rem;
}
