@import "../../styles/variables";

.nav_wrapper {
  width: 100%;
  font-family: $font-stack-heading;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background: $white;
  margin-bottom: 0.9em;
  @media screen and(max-width: $breakpoint-medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    img {
      height: 50px;
      max-width: 100%;
    }
  }
}
.user_info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  .user {
    text-transform: capitalize;
    text-align: right;
    border-right: 4px solid $green-500;
    padding-right: 15px;
    .user_full_name {
      font-weight: 700;
      font-size: 1.8rem;
    }
    .user_track {
      font-size: 1.2rem;
    }
  }
  .user_button {
    padding: 1rem;
    margin-bottom: 0.2rem;
  }
}
