@import "../../styles/variables";

.nav_wrapper {
  width: 100%;
  font-family: $font-stack-heading;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $green-100;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  @media screen and(max-width: $breakpoint-medium) {
    justify-content: space-between;
    align-items: center;
  }
  @media screen and(max-width: $breakpoint-small) {
    width: 100%;
    align-items: center;
  }
  .burger-container {
    overflow: hidden;
    padding-right: 2rem;
    position: relative;
    cursor: pointer;
    .burger .burger-lines,
    .burger .burger-lines:after,
    .burger .burger-lines:before {
      background-color: $green-400;
      cursor: pointer;
    }
  }
  .burger-flyout {
    position: absolute;
    top: 60px;
    right: 0;
  }
  .logo {
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    img {
      height: 30px;
      max-width: 100%;
    }
  }
}
.user_info {
  display: flex;
  align-items: center;
  @media screen and(max-width: $breakpoint-medium) {
    width: 100%;
    justify-content: flex-end;
  }
  @media screen and(max-width: $breakpoint-small) {
    margin-top: 0.5rem;
    width: 100%;
    justify-content: center;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-align: right;
    border: 5px solid $white;
    border-radius: 50%;
    background: $green-500;
    width: 75px;
    height: 75px;
    @media screen and(max-width: $breakpoint-medium) {
      margin: 1rem;
      height: 30px;
      width: 30px;
      font-size: 1.4rem;
      padding: 1rem;
    }
    @media screen and(max-width: $breakpoint-small) {
      margin: 0;
    }
    .user_full_name {
      font-weight: 700;
      font-size: 3.2rem;
      color: $white;
      letter-spacing: -3px;
      @media screen and(max-width: $breakpoint-medium) {
        font-size: 2.6rem;
      }
      @media screen and(max-width: $breakpoint-small) {
        padding: 0;
      }
    }
    .user_track {
      font-size: 1.2rem;
    }
  }
  .user_button {
    padding: 1rem;
    margin-bottom: 0.2rem;
    @media screen and(max-width: $breakpoint-small) {
      padding: 0;
    }
  }
}
