@import "../../../styles/variables";

.search-pinned-students-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: $breakpoint-large) {
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .pinned-students-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pinned-students-greeting {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border-bottom: 3px solid $white;
      margin-bottom: 0.5rem;
      h1 {
        color: $white;
        font-size: 3.2rem;
        font-weight: 700;
        padding-bottom: 1rem;
      }
    }
  }
}
