.gauge-container {
  // border: 1px solid black;
  height: 10px;
  background: #c4e7d1;
  // border-radius: 50px;

  .gauge-fill {
    background: #add890;
    height: 100%;
    border-radius: 0px 100px 100px 0px;
  }
}
