@import "../../../styles/variables";

.myaccount-container {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  line-height: 3.5rem;
  background: $white;
  color: $black;
  padding: 5rem;
  button {
    font-family: Barlow Condensed;
    background: #aef1c0;
    color: #04591b;
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
  }
  .coach-calendly {
    display: flex;
    p {
      margin-right: 1rem;
    }
    span {
      font-weight: 600;
    }
  }
  .user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem 0;
    border-bottom: 2px solid $blue-200;
    margin-bottom: 1rem;
    h1 {
      font-size: 3.2rem;
      font-weight: 800;
    }
    p {
      font-weight: 800;
      line-height: 1;
    }
    .account-text {
    }
    .meter-wrapper {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: $breakpoint-medium) {
        width: 50%;
      }
      .meter-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
      }
      .meter {
        margin: 0 0.3em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .percentage {
        width: 100%;
        max-width: 200px;
      }
    }
  }
  .account-details {
    width: 50%;

    .labels {
      width: 25%;
      margin: 0 1rem;
    }
    .content {
      width: 75%;
      background: none;
      padding: 1rem 0;
    }
  }
  a {
    margin-right: 1rem;
  }
  // button {
  //   background: $blue-300;
  //   color: white;
  //   border: none;
  //   padding: 1rem;
  //   border-radius: 5px;
  //   margin: 0 1rem;
  // }
  form {
    margin: 1rem auto;
    label {
      margin-right: 1rem;
    }
    input {
      padding: 1rem;
      border-radius: 5px;
    }
  }
}
