@import "../../../styles/variables";

.dashboard .content .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3.2rem;

  @media screen and (min-width: 375px) {
    margin-bottom: 6.4rem;
  }

  @media screen and (min-width: 768px) {
    margin-top: 1.6rem;
  }

  @media screen and (min-width: 960px) {
    justify-content: flex-end;
    min-height: 9.6rem;
    margin-bottom: 3.2rem;
  }
  .burger {
    position: absolute;
    top: -0.4rem;
    left: 1rem;
    font-size: 1rem;
    // height: 1.8em;
    // width: 2em;
    color: blue;
    grid-column: 2 / span 1;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .logo {
    margin: auto;
    margin-bottom: 4.4rem;
    width: 50%;
    grid-column: 1 / span 1;
    @media screen and (min-width: 450px) {
      width: 40%;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  hgroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    color: $white;

    @media screen and (min-width: 960px) {
      align-items: center;
    }

    h1 {
      font-family: $font-stack-heading;
      font-size: 2.4rem;
      line-height: 1.25;
      font-weight: bold;
      margin-bottom: 0.8rem;
      width: 75%;

      @media screen and (min-width: 375px) {
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
      }

      @media screen and (min-width: 480px) {
        width: 70%;
      }

      @media screen and (min-width: 960px) {
        text-align: center;
        font-size: 3.2rem;
        width: 50%;
        margin-bottom: 0.8rem;
      }
    }

    h2 {
      font-family: $font-stack-body;
      font-size: 1.2rem;
      line-height: 1.5;

      @media screen and (min-width: 550px) {
        max-width: 80%;
      }

      @media screen and (min-width: 960px) {
        max-width: 60%;
        text-align: center;
      }
    }
  }

  .progress-ring {
    width: 25%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    font-size: 2.4rem;
    margin: 0;

    @media screen and (min-width: 375px) {
      max-width: 30%;
      font-size: 3.2rem;
    }

    @media screen and (min-width: 500px) {
      max-width: 20%;
      font-size: 3.2rem;
    }

    @media screen and (min-width: 768px) {
      top: 0;
    }

    @media screen and (min-width: 960px) {
      font-size: 3.2rem;
      max-width: 15%;
    }

    @media screen and (min-width: 1140px) {
      max-width: 10%;
    }
    @media screen and (min-width: 1140px) {
      max-width: 10%;
    }
    @media screen and (min-width: 1440px) {
      max-width: 8%;
    }
  }
}
